{% extends 'base.html.twig' %}

{% block title %}Uploader{% endblock %}

{% block body %}
<h1>Zadanie na napisanie programu pobierającego katalog obrazków, 
wygenerowanie na jego podstawie podglądówek, wysłanie wyniku 
do zewnętrznego miejsca docelowego</h1>
{% endblock %}
